extends layout

block content
  h1= title
  ul 
    each message in messages
      li 
        strong #{message.user}:
        |  #{message.text}
        br
        small Added on #{message.added.toLocaleString()}
  a(href="./new") Submit you messages here